header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
}


.btn{
        margin-top: 40px;
        width: 60px;
        height: 60px;
        margin-right: 40px;
}

.title{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 120px;
        color: wheat;
        font-family: 'Proza Libre', sans-serif;
}