<!-- <input type="text"> -->
<h1 mat-dialog-title>Entre Task Name {{ data.name }}</h1>
<div mat-dialog-content>
  <!-- <mat-form-field appearance="fill"> -->
  <label for="text">Name</label>
  <input name="text" type="text" [(ngModel)]="text" />

  <!-- </mat-form-field> -->
  <!-- <mat-label>Name</mat-label> -->
  <!-- <button mat-dialog-close (click)="onSubmit()">Add Task</button> -->

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Close</button>
    <button
      mat-button
      [mat-dialog-close]="text"
      cdkFocusInitial
      (click)="openSnackBar(text, 'Dismiss')"
    >
      Add Task
    </button>
  </div>
</div>
